body{
    width: 100%;
}

// impremento de variables
$rosaoscuro: #797066;
$rosaclaro: #a39789;

// implemento de extend
.flex{
    display: flex;
    justify-content: center;
}

// implemento de mixin
@mixin medidas($fontsize, $marginleft){
    font-size: $fontsize;
    margin-left: $marginleft;
}

$estiloboton: (
    fondo: rgba(0, 0, 0, 0.9)
    borde: 1px solid rgba(0, 0, 0, 0.9)
    margen_alto: 15px
);

.informativo{
    margin-bottom: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $rosaclaro;
    color: white;
    @extend .flex;
}

nav{
    .navbar-brand{
       padding-left: 40px;
       color: white;
       font-weight: 600;
    }

    
}

nav{
    .nav-link{
        color: white;
    }
    .nav_principio{
        margin-left: 20px;
    }
}

nav{
    .bi{
        color: white;
        @extend .flex;
    }
}

nav{
    .nav_final{
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }
    .nav-item{
        @extend .flex;
        flex-direction: column;
        margin-left: 20px;
    }

}

nav{
    .nav-link:hover{
        color: $rosaclaro;
    }
    .navbar-brand{
        transition: all 3s;
    }

    .navbar-brand:hover{
        transform: scale(1.1);
        color: $rosaclaro;
    }
}

.informacion{
    background-color: #ededed;
    margin-top: 100px;

    i{
        @include medidas (40px,30px);
    }
    .titulo_article{
        @include medidas (20px,30px);
    }
    .texto_article{
        @include medidas (15px,30px);
    }
 }

.texto_ayuda{
    background-color: $rosaclaro;
    @extend .flex;
    padding-top: 10px;
 }

 footer{
    background-color: rgba(0, 0, 0, 0.9);
    .bi{
        font-size: 20px;
        color: white;
        @extend .flex;
        margin-top: 12px;
        transition: 1s all;
    }
    .nav-link{
        color: white;
    }
    .nav-link:hover{
        color: $rosaclaro;
    }
    .bi:hover{
        transform: scale(1.1);
    }
 }

// implementación de for
//  @for $i from 1 through 3 {
//     .botones_secciones#{$i}{
//         margin-top: 100px;
//     }
//  }

 section{
    width: 100%;
    margin-top: 80px;
 }


    .titulo_productos{
        @extend .flex;
        transition: all 1s;
    }

    .titulo_productos:hover{
        @extend .flex;
        color: $rosaoscuro;
    }

    .card{
        margin: auto;
        margin-top: 30px;
    }

    .titulos_seccionesproductos{
        font-size: 20px;
        margin: auto;
    }

    .contenedorfila{
        @extend .flex;
    }

    .fila1{
        margin: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: $rosaclaro;
        border-radius: 20px;
        padding: 30px;
        @extend .flex;
        flex-direction: column;
    }

    
    .boton_vermas{
        margin-top: 15px;
        background-color: map-get($estiloboton,fondo);
        border: map-get($estiloboton,borde);
    }

    .boton_vermas:hover{
        background-color: $rosaoscuro;
        border: 2px solid $rosaclaro;
    }

    .boton_quiero{
        background-color: rgba(0, 0, 0, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.9);
        color: white;
    }

    .boton_quiero:hover{
        background-color: $rosaoscuro;
        border: 2px solid $rosaclaro;
    }
 
   