body{
    width: 100%;
}
$colorclaro_botones: #a39789;

.informativo{
    margin-bottom: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $colorclaro_botones;
    color: white;
    display: flex;
    justify-content: center;
}
nav{
    .navbar-brand{
       padding-left: 40px;
       color: white;
       font-weight: 600;
    }

    
}

nav{
    .nav-link{
        color: white;
    }
    .nav_principio{
        margin-left: 20px;
    }
}

nav{
    .bi{
        color: white;
        display: flex;
        justify-content: center;
    }
}

nav{
    .nav_final{
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }
    .nav-item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
    }

}

nav{
    .nav-link:hover{
        color: $colorclaro_botones;
    }
    .navbar-brand{
        transition: all 3s;
    }

    .navbar-brand:hover{
        transform: scale(1.1);
        color: $colorclaro_botones;
    }
}

.informacion{
    background-color: #ededed;
    margin-top: 100px;

    i{
        font-size: 40px;
        margin-left: 30px;
    }
    .titulo_article{
        font-size: 20px;
        margin-left: 30px;
    }
    .texto_article{
        font-size: 15px;
        margin-left: 30px;
    }
 }

.texto_ayuda{
    background-color: $colorclaro_botones;
    display: flex;
    justify-content: center;
    padding-top: 10px;
 }

 footer{
    background-color: rgba(0, 0, 0, 0.9);
    .bi{
        font-size: 20px;
        color: white;
        display: flex;
        justify-content: center;
        margin-top: 12px;
        transition: 1s all;
    }
    .nav-link{
        color: white;
    }
    .nav-link:hover{
        color: $colorclaro_botones;
    }
    .bi:hover{
        transform: scale(1.1);
    }
 }

 section{
    width: 100%;
    margin-top: 80px;

    .titulo_productos{
        display: flex;
        justify-content: center;
        transition: all 1s;
    }

    .titulo_productos:hover{
        display: flex;
        justify-content: center;
        color: #797066;
    }

    .card{
        margin: auto;
        margin-top: 30px;
    }

    .titulos_seccionesproductos{
        font-size: 20px;
        margin: auto;
    }

    .contenedorfila{
            display: flex;
            justify-content: center;
    }

    .fila1{
        margin: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: $colorclaro_botones;
        border-radius: 20px;
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    
    .botones_secciones{
        margin-top: 15px;
        background-color: rgba(0, 0, 0, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.9);
    }

    .botones_secciones:hover{
        background-color: #797066;
        border: 2px solid $colorclaro_botones;
    }

    .boton_quiero{
        background-color: rgba(0, 0, 0, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.9);
        color: white;
    }

    .boton_quiero:hover{
        background-color: #797066;
        border: 2px solid $colorclaro_botones;
    }
 }

 @media screen and (min-width: 320px){
        .seccion_escritorio{
            display: none;
        }
        .seccion_celular{
            display: block;
        }
 }

 @media screen and (min-width: 550px){
    .seccion_escritorio{
        display: block;
    }
    .seccion_celular{
        display: none;
    }
}